<div id="BoxUp" onclick="CloseBlank();"></div>
<div id="InnerCont"><div id="MainContentBox">
<!-- MAIN-DESIGN START -->

<div class='C5'></div>
<div id='SiteName'><a href="/" title='$sitename' alt='$sitename'><img src="/template/index/thebubr.png" />$sitename</a></div>
<div class='C5'></div>


<div class='CB1'></div><div class='C25'></div>

<div id="CenterContent">$Caption$Content</div><div class='C'></div>

<div class='C25'></div>

<div id="BottomBox">
	<div class='C20'></div>
	<div>
		<div class='CopyRight'>$mcopyright</div>
	</div>
	<div class='C20'></div>
</div>
<!-- MAIN-DESIGN END -->
</div></div>