.IndexLentaList { overflow:hidden; margin-bottom:1em; position: relative; z-index: 10; display: inline-block; border-bottom:2px solid #b6b6b6; }
.IndexLentaLists a { width:100%; font:1em/1.3em 'PT Sans Caption'; }
.IndexLentaList img { width:100%; height:auto; border:none; position: relative; z-index: 10; }
.IndexLentaList span { display:inline-block; overflow:hidden; background:rgba(255,255,255,1); color:#000 !important; padding:0px 7px; }

.IndexLentaList capt b { display: inline; font-size:1.2em !important; font-weight: bold !important; } 
.IndexLentaList img { position: relative; border:none; width:100%; height: auto; z-index: 10; }
