<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>

<!-- Yandex.RTB R-A-334678-1 -->
<div id="yandex_rtb_R-A-334678-1"></div>
<script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Context.AdvManager.render({
                blockId: "R-A-334678-1",
                renderTo: "yandex_rtb_R-A-334678-1",
                async: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//an.yandex.ru/system/context.js";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(this, this.document, "yandexContextAsyncCallbacks");
</script>

<noindex><div id="Banner-1-1"></div></noindex>
<div id="Podlogka">
	
	
<div id="InnerCont"><div id="MainContentBox">
<!-- MAIN-DESIGN START -->
<div id="TopBox">
	<div class='ContentBox'>
		<div class='Users'>$UserAuthLine</div>
		<div class='Search'>$SiteSearch</div>
		<div class='Social'>$socialgroups</div>
	</div>
</div>

<div class='C15'></div>
<div id='SiteName'><a href="/" title='$sitename' alt='$sitename'>$sitename</a></div>
<div class='C'></div>

<div id="MenuBox">
	<div id="LeftMenu">$leftmenu</div>
	<div id="CenterMenu"><a href="/" title='$sitename' alt='$sitename'><img src="/template/index/thebubr.png" /></a></div>
	<div id="RightMenu">$rightmenu</div>
</div>

<div class='CB1'></div>

<div class='C25'></div>
<div id="CenterBox" class="ContentBox">
	<div id="TopContent">$TopContent</div><div class='C'></div>
	<div id="LeftContent">$Caption$Content</div><div id="RightContent">$RightContent</div><div class='C'></div>
	<div id="BottomContent">$BottomContent</div><div class="C"></div>
</div>

<div class='C25'></div>

<div id="BottomBox">
	<div class='C20'></div>
	<div class='ContentBox'>
		$bottommenu<div class='C20'></div>
		<div class='CopyRight'>$copyright</div>
	</div>
	<div class='C20'></div>
</div>
<!-- MAIN-DESIGN END -->
</div>

<noindex>
<div id="LeftCont"></div>
<div id="RightCont"></div>
<div id="Banner-5-1"></div>
</noindex>

</div>
</div>